$primary-color: #065e2e;
$secondary-color: #ebebeb;
$background-color: #fff;
$text-color: #333;

$font-family-base: "Lato", sans-serif;
$font-size-base: 16px;
$card-boxshadow: 0px 3px 4px 0px rgba(0, 0, 0, .03);
