@import 'raboni-styles/scss/importMixins';
@import '../../../sass/base/variables';

.un-box__servicesList {

    .service-progress{
        @include mx-flex();
        @include mx-flex-row();
        @include mx-flex-align-center();
        gap:1.5rem;
        p{
            width: 100px;
            display: none;
        }
        div{
            flex: 1;
        }
    }

}