@import 'raboni-styles/scss/importMixins';
@import '../../../sass/base/variables';

.un-box__servicesList {

    .service-play {
        text-decoration: none;
        cursor: pointer;

        icon {
            color: $primary-color;
            font-size: 1.5rem;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .service-progress{
        @include mx-flex();
        @include mx-flex-row();
        @include mx-flex-align-center();
        gap:1.5rem;
        p{
            width: 100px;
            display: none;
        }
        div{
            flex: 1;
        }
    }

}