@import 'raboni-styles/scss/importMixins';
@import '../sass/base/variables';

.un-bar__progressThin {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: rgba($grey-color, 0.5);
    position: relative;
    @include mx-flex();
    @include mx-flex-row();
    @include mx-flex-align-center();
    span {
        position: absolute;
        border-radius: 5px;
        min-width: 1%;
        height: 4px;
    }


    &.notStarted span{
        background: $grey-color;
    }
    &.started span{
        background: $blue-color;
    }
    &.half span{
        background: $blue-color;
    }
    &.finishing span{
        background: $primary-color;
    }
}