button{
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    &:hover{
        cursor: pointer;
    }
}

.app-button {

    background-color: none;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    
    @include mx-flex();
    @include mx-flex-center();
    gap:0.875rem;
    padding: 0 1rem;
    width: auto;
    min-width: 120px;
    min-height: 50px;
    border: 0;
    box-sizing: border-box;
    transition: .4s;
    background: $primary-color;
    color: #fff;
    border-radius: 25px;
    border: 1px solid $primary-color;
    text-decoration: none !important;
    font-family: $font-family-base;

    &:hover:not([disabled]){
        opacity: 0.7;
    }
    &.negative {
        background: none;
        color: #b32828;
        border-color: #b32828;
        &:hover {
            opacity: 0.7;
        }
        span{
            color: #b32828;
        }
    }
    &.primary{
        background: $primary-color;
        border-color: $primary-color;
    }
    &.outline{
        background: none;
        color: $primary-color;
        &:hover {
            opacity: 0.7;
        }
    }
    &.icon{
        min-width: 0;
        width: 50px;
        @include mx-large-icon();
        line-height: 1;
        &.small{
            width: 42px;
            height: 42px;
            min-height: 0;
        }
    }
    &.onlyicon{
        background: none;
        border: 0;
        color: #333;
        @include mx-large-icon();
    }

    &.loading{
        &:after{
            content: "";
            border: 1px solid transparent; /* Light grey */
            border-top: 2px solid #fff; /* Red */
            border-radius: 50%;
            width: 15px;
            height: 15px;
            animation: spin 1s linear infinite;
        }
    }

    &.small{
        width: auto;
        min-width: auto;
        min-height: 30px;
        font-size: 0.850rem;
        border-radius: 5px;
        padding: 0 0.5rem;
        gap:0.5rem;
        border-color: $secondary-color;
        color: rgba($text-color, 0.9);
    }

    &[disabled]{
        cursor: default;
    }
}

.un-link{
    color: #107efc;
    font-size: .8125rem;
    height: auto;
    padding-bottom: .25em;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px dashed #107efc;
    &:hover{
        text-decoration: none;
        cursor: pointer;
        opacity: 0.8;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}