@import 'raboni-styles/scss/importMixins';
@import 'sass/base/variables';

//Resets app
a {
  text-decoration: none;
  color: #0095f6;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5;
}

header .active {
  color: $primary-color;

  &:before {
    content: "";
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    transition: 0.2s;

  }

  &:hover {
    &:before {
      width: 20px;
      border-radius: 10px;
    }
  }


  @include mx-onlymob(768px) {}
}

//Containers
.un-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  @include mx-flex();
  @include mx-flex-row();
  gap: 1rem;

  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.un-body {
  width: 100%;
  // max-width: 90%;
  margin: 0 auto;
  // padding: 0 1rem;
  box-sizing: border-box;
  padding-right: 1rem;
  @include mx-flex();
  @include mx-flex-column();
  // gap: 1rem;

  @include mx-responsive(1500px) {
    // max-width: 1366px;
  }
}

//Pages
.un-page__content {
  width: 100%;
  @include mx-flex();
  @include mx-flex-column();
  gap: 2rem;
  padding: 2rem;
  background: rgba($secondary-color, 0.5);
  border-radius: 20px;
  flex: 1;
}

.un-page__title {
  width: 100%;
  @include mx-flex();
  @include mx-flex-row();
  @include mx-flex-align-center();
  gap: 0.7rem;
  span{
    line-height: 1;
  }
}